body{
    margin:0;
    display:flex;
    flex-direction:center;
    justify-content:center;
    align-items:center;

    min-height:100vh;
    background-color:#000;

}

.clock{
    box-shadow:0 0 90px rgba(0, 255, 255, 0.39);
    min-width:200px;
    width:50vw;
    max-width:400px;
    min-height:300px;
    height:calc(50vw + 100px);
    max-height:500px;
    border-radius:50px;
    overflow:hidden;
    display:flex;
    flex-direction:column;
}

.clock .shower{
    background-color:#000;
    height:100%;
    flex-grow:1;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-bottom:-50px;
    padding:50px;
    z-index:2;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
}

.clock .shower .row{
    display:flex;
    justify-content:space-evenly;
}

.led{
    width:5px;
    height:5px;
    background-color:cyan;
    border-radius:100%;
    opacity:.2;
}

.clock .letter{
    background-color:cyan;
    height:150px;
    padding-top:70px;
    text-align:center;
    font-size:50px;
    
}

@media screen and (max-width:600px){
    .clock{
        width:85vw;
        height:calc(85vw + 80px);
    }
    .clock .letter{
        font-size:30px;
    }
}